.Sidebar {
  width: 17%;
  height: 100vh;
  background-color: whitesmoke;
  box-shadow: 0px 0px 20px 0px #30303031;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  //sidebar-top
  .sidebar-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 1.5rem;
    left: 0.6rem;
    .logo-img {
      width: 60%;
      height: auto;
    }
    .logotext {
      font-size: 1rem;
      position: relative;
      right: 3.5rem;
      cursor: pointer;
      padding: 5px 5px;
      border-radius: 5px;
    }
    #logotext {
      text-decoration: none;
      color: #303030;
    }
    .logotext:hover {
      background-color: rgb(216, 220, 224);
    }
  }

  //sidebar-content
  .sidebar-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    nav {
      margin: 7px 0px;
      li {
        color: #303030;
        width: 100%;
        font-size: 1rem;
        padding: 5px 25px;
        cursor: pointer;
        transition: 0.1s ease-out;
        i {
          margin-right: 10px;
          font-size: 1.4rem;
        }
      }
      li:hover {
        background-color: rgb(215, 230, 245);
        border-radius: 5px;
        padding-left: 20px;
      }
    }
  }
  .sidebar-content .active {
    font-size: 1.1rem;
    transition: 0.1s ease-out;
    border-radius: 5px;
    padding: 0 4px;
  }
  

  //sidebar-foot
  .sidebar-foot {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 1rem;
    nav {
      margin: 5px 0px;
    }
    li {
      color: #303030;
      font-size: 1.1rem;
      padding: 4px 25px;
      cursor: pointer;
      transition: 0.1s ease-out;
      i {
        margin-right: 10px;
        font-size: 1.5rem;
      }
    }
    li:hover {
      background-color: rgb(211, 211, 211);
      border-radius: 5px;
    }
  }
}

.showSidebar {
  position: fixed !important;
}
.hiddenSidebar {
  display: none !important;
}
